input{
    caret-color: red;
}
body{
    margin:0;
    width: 200vh;
    height: 100vh;
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: centre;
    overflow: hidden;
    font-family: sans-serif;

}
.container{
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #ecf0f3;
    box-shadow: 14px 14px 20px #cdced1,-14px -14px 20px white;
}
.logo{
    margin:inherit
    
    border-radius: 50%;
    box-shadow: 7px 7px 10px #cdced1,-7px -7px 10px white;
   
}
.title{
    margin-top:10px ;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #6c0a0ab4;
    letter-spacing: 1px;
}
.inputs{
    text-align: left;
    margin-top: 30px;

}
label,input,button{
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
label:nth-of-type(2){
    margin-top: 12px;

}
input::placeholder{
    color: gray;
}
input{
    background-color: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height:50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1,inset -6px -6px 6px white;
}
button{
    color: white;
    margin-top: 20px;
    background-color: rgba(129, 26, 26, 0.848);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
     font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1 , -6px -6px 6px white;
}
button:hover{
    box-shadow: none;
}
    